{% extends 'main.html' %}


{% block content %}
<div class="container pt-5 container-fluid">
<h1>Projet d'intégration</h1>
<div></div>
<h3>Informations sur l'idée de projet</h3>
    <p> 
    Service à Domicile Rapide est un projet d'intégration conçu dans le but de redre accessible à tous différents services
    Ces derniers permettent à la communauté de s'entraider. De plus, il s'agit d'une alternative aux offreurs de service
    afin d'augmenter leur clientèle. La facilité d'utilisation et l'accès facile aux différentes composantes de l'application
    permet à tous d'avoir accès aux avantages de l'entraide communautaire.
    
    </p>
    
    <h3>Voici les différents service pouvant être offerts (entre autres)</h3>
    <ul>
        <li>Déneigement</li>
        <li>Tonte de gazon</li>
        <li>Entretient de piscine
            <ul>
                <li>Ouverture/Fermeture</li>
                <li>Nettoyage</li>
            </ul>
        </li>
        <li>Installation de TEMPO</li>
        <li>Lavage de voiture</li>
        <li>Déménagement</li>
        <li>Et plus à venir</li>
      </ul> 
   
</div>
{% endblock %}
