{% extends 'main.html' %}


{% block content %}
<div class="container pt-5 container-fluid">
    <h3>Messagerie</h3>
    <hr>

    {% for message in conversation %}
    <div>
        <small>@{{message.user}}  {{message.created|timesince}} ago</small>
        <p>{{message.body}}</p>
        <hr>
    </div>
    {% endfor %}
</div>

{% if request.user.is_authenticated %}
<div class="container pt-5 container-fluid">
<div class="comment-form ">
    <form method ="POST" action = "">
        {% csrf_token %}
        <input type="text" class="form-control" name="body" placeholder="Écrivez votre message...">
    </form>
</div>
</div>
{% endif %}
{% endblock %}