{% extends 'main.html' %}

{% block content %}
<div class="container pt-5 container-fluid">
<h1> Service : {{service.name}} </h1>
<img src={{service.image.url}}/>
<h3>{{service.montant}} $</h3>
<h4>Description</h4>
<p> {{service.description}} </p>
<h4>Adresse</h4>
<p>{{service.address}}</p>

<a class="nav-link text-primary" href="{% url 'service_map_view' service.id %}">Cliquer ici afin de voir la carte</a>

<a class="nav-link text-primary" href="{% url 'message' service.id %}"> Cliquer ici pour répondre à ce service</a>
</div>
{% endblock %}
